body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    background-image: url('/static/image/ai.jpg'); /* 背景圖片 URL */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.input-container, .output-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #3498db;
}

#inputBox, #outputBox {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
}

#outputBox {
    height: 100px;
    background-color: #f4f4f9;
    color: #333333;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4e73df;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #3c5bbf;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
