<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>化學實驗教學</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>化學實驗教學</h1>
    <div class="button-container">
        <button onclick="window.location.href='/chemistry'">酸鹼值檢定</button>
        <button onclick="window.location.href='/classification'">行為分類</button>
        <button onclick="window.location.href='/page1'">其他頁面1</button>
        <button onclick="window.location.href='/page2'">其他頁面2</button>
        <button onclick="window.location.href='/page3'">其他頁面3</button>
    </div>
</body>
</html>
